	<h2>Users</h2>
	<table class="table">
		<tr>
			<th>online</th>
			<th>socket connected</th>
			<th>max connected from one user</th>
		</tr>
		<tr>
			<td><%= online%></td>
			<td><%= connected%></td>
			<td><%= maxConnectedOneUser%></td>
		</tr>
	</table>

	<h2>Battles</h2>
	<table class="table">
		<tr>
			<th>active battle</th>
			<th>active bots</th>
		</tr>
		<tr>
			<td><%= getActiveBattle%></td>
			<td><%= activeBots%></td>
		</tr>
	</table>