<h2><%- __( 'site-menu: faq')%></h2>
<ul>
	<li>
		<p><%- __( 'site-faq: q-1')%>
		<p><%- __( 'site-faq: a-1')%>
		<hr>
	</li>
	<li>
		<p><%- __( 'site-faq: q-2')%>
		<p><%- __( 'site-faq: a-2')%>
		<hr>
	</li>
	<li>
		<p><%- __( 'site-faq: q-3')%>
		<p><%- __( 'site-faq: a-3')%>
		<hr>
	</li>
	<li>
		<p><%- __( 'site-faq: q-4')%>
		<p><%- __( 'site-faq: a-4')%>
		<hr>
	</li>
	<li>
		<p><%- __( 'site-faq: q-5')%>
		<p><%- __( 'site-faq: a-5')%>
		<hr>
	</li>
</ul>