<article class="col-md-12">
	<h2><%- __( 'site-menu: mythology')%></h2>
	<div class="clearfix">
		<h3><%- __( 'site-mythology: world-header')%></h3>
		<%- __( 'site-mythology: world')%>

	</div>
	<div class="clearfix">
		<h3><%- __( 'site-mythology: race-header')%></h3>
		<%- __( 'site-mythology: human-1')%>
		<%- __( 'site-mythology: human-2')%>

		<div class="clearfix"></div>
		<br>
		<h4><%- __( 'race: raksasah')%></h4>
		<%- __( 'site-mythology: raksasah-1')%>
		<%- __( 'site-mythology: raksasah-2')%>

		<div class="clearfix"></div>
		<br>
		<h4><%- __( 'race: seylees')%></h4>
		<%- __( 'site-mythology: seylees-1')%>
		<%- __( 'site-mythology: seylees-2')%>

	</div>
</article>